.home {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  color: #fff;
}
.homeContainer {
  position: relative;
}
.coverImage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
}
.coverImage img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.homeContainer .content {
  padding: 100px;
}
.homeContainer h1 {
  margin-top: 80px;
  font-size: 90px;
  text-transform: uppercase;
  font-weight: 800;
  background-image: url("../../../public/images/texure.jpg");
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}
.coverImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 88;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
.homeContainer .rating {
  margin: 30px 0;
}
.rating i {
  color: #e50813;
  margin-right: 5px;
}
.rating label {
  margin: 0 20px;
}
.rating span {
  background-color: #6c757d;
  padding: 5px;
  color: #fff;
  font-weight: bold;
}
.homeContainer .cast {
  margin: 30px 0;
}
.cast h4 {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 17px;
}
.cast h4 span {
  color: #e50813;
}
.palyButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.palyButton .img {
  position: relative;
}
.change {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.palyButton img {
  width: 90px;
  height: 90px;
  margin-right: 20px;
}
.palyButton button:hover .change {
  opacity: 1;
}
.palyButton button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.5s;
}
.mragin {
  margin-top: 50%;
}
@media only screen and (max-width: 768px) {
  .homeContainer h1 {
    font-size: 50px;
    margin: 0;
  }
  .home {
    position: relative;
    margin: 0;
    height: 60vh !important;
  }
  .coverImage img {
    width: 100vw;
    height: 70vh !important;
  }
  .home .content {
    flex-direction: column;
    padding: 50px;
  }
  .home .row {
    width: 100%;
  }
  .home .palyButton {
    display: none;
  }
  .mragin {
    margin-top: 0% !important;
  }
}
